body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:81px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:960px;
  height:81px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:52px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:18px;
  width:173px;
  height:52px;
  font-family:'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:169px;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:54px;
  width:54px;
  height:16px;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:54px;
  width:64px;
  height:16px;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:54px;
  width:79px;
  height:16px;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:52px;
  width:127px;
  height:18px;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:54px;
  width:70px;
  height:16px;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1180px;
  width:960px;
  height:180px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1269px;
  width:137px;
  height:22px;
  font-family:'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:1241px;
  width:191px;
  height:18px;
  font-family:'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:1208px;
  width:54px;
  height:16px;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:1240px;
  width:70px;
  height:16px;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:1272px;
  width:79px;
  height:16px;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:1303px;
  width:64px;
  height:16px;
  font-family:'Book Antiqua Полужирный', 'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:underline;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:53px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:134px;
  width:510px;
  height:53px;
  font-family:'Book Antiqua Обычный', 'Book Antiqua';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#434343;
  text-align:center;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:290px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:210px;
  width:290px;
  height:290px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:286px;
  word-wrap:break-word;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:290px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:547px;
  width:290px;
  height:290px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:286px;
  word-wrap:break-word;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:210px;
  width:300px;
  height:109px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:395px;
  width:300px;
  height:105px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:547px;
  width:300px;
  height:111px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:727px;
  width:300px;
  height:110px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
